default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite
repos:
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.10.3
  hooks:
  - id: uv-lock
  - id: uv-sync
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
  - id: ruff-format
  - id: ruff-check
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.408
  hooks:
  - id: pyright
- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 43.16.0
  hooks:
  - id: renovate-config-validator
- repo: https://github.com/zizmorcore/zizmor-pre-commit
  rev: v1.22.0
  hooks:
  - id: zizmor
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.11
  hooks:
  - id: actionlint
