default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite
repos:
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.7.20
  hooks:
    - id: uv-lock
    - id: uv-sync
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.3
  hooks:
    - id: ruff-format
    - id: ruff-check
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.403
  hooks:
  - id: pyright
- repo: https://github.com/renovatebot/pre-commit-hooks
  rev: 41.23.5
  hooks:
    - id: renovate-config-validator
